  <a href="#" class="icon-expand" title="More details"><%=image_tag 'expand.jpg', :alt=>'expand' %></a><a href="#" class="icon-collapse" title="Less details"><%=image_tag 'collapse.jpg', :alt=>'collapse' %></a>

