<div class="row">
  <div id="mylibrary" class="span5">
    <h1>MyLibrary</h1>

    
                
    
      <h2>Searches</h2>
      <ul>
        
          <li><a href="/mylibrary/history/list">Search History</a> <span class="total">(13)</span></li>
        
        
      </ul>
    
    
    <h2>Saved items</h2>
    
      
      
        <ul>
            
            <li><a href="/mylibrary/items/?type=Articles">Articles</a> <span class="total">(0)</span></li>								
            
            <li><a href="/mylibrary/items/?type=Journals">Journals</a> <span class="total">(0)</span></li>								
            
            <li><a href="/mylibrary/items/?type=Books">Books</a> <span class="total">(0)</span></li>								
          
        </ul>
      
    
    
    
    
    
      <h2><a href="/mypublications/">MyPublications</a></h2>
      <ul>
        <li>Pending <span class="total">(0)</span></li>
        <li>Registered <span class="total">(0)</span></li>
      </ul>
    
    
  </div>
  <div id="links" class="span5">
    <h1>Useful links</h1>
    <h2>General</h2>
    <ul>
      <li><a href="/about/help/syntax/">How to search</a></li>
      <li><a href="/about/help/">General help</a></li>
      <li><a href="http://portalen.dtu.dk/DTU_Generelt/DTU_Bibliotek/Viden/forslag.aspx/?sc_lang=en">Suggest purchase of an information resource</a></li>
      <li><a href="/about/help/video.jsp">Help videos/screen casts</a></li>
      <li><a href="/docs/Quick_Guide_DDL_search.pdf">Quick Guide to Searching in DTU Digital Library</a></li>
                    <li><a href="/about/news/">News archive</a></li>
    </ul>
    <h2>Contact</h2>
    <ul>
      <li><a href="http://portalen.dtu.dk/dtu_generelt/dtu_bibliotek/viden/feedback_dtu_digital_library.aspx">Feedback on the DTU Digital Library</a></li>

      <li><a href="/about/contact/">Contact the DTU Library</a></li>
    </ul>
  </div>				
</div>
