<ul class="tools short-view">
  <li><a class="disabled" target="_blank" title="Download full text" href="<%= link_to_fulltext(document) %>"><span class="download-disabled"></span>Full text</a></li>
  
  <%# if document.export_formats.keys.include?( :refworks ) %>
    <li class="refworks">
      <%= link_to "Export to RefWorks", catalog_path(document, :format => 'refworks') %>
      <%#= link_to "Export to RefWorks", refworks_export_url(:id => @document) %>        
    </li>
  <%# end %>
  
  <li>
    <%= render_index_doc_actions document %>
  </li>

</ul>