<ul class="tools short-view">
  <li><a class="disabled" target="_blank" title="Download full text" href="<%= link_to_fulltext(document) %>"><span class="download-disabled"></span>Full text</a></li>
  
  <% if document.export_formats.keys.include?( :ris ) && document[:format] != "journal"%>
    <li class="export">
      <%= link_to "Export", catalog_path(document, :format => 'ris') %>
    </li>
  <% else %>
    <li class="export disabled">
      <%= link_to "Export", catalog_path(document, :format => 'ris'), :class=>"disabled" %>
    </li>
  <% end %>
  
  <li>
    <%= render_index_doc_actions document %>
  </li>

</ul>