body {
    background: url("/assets/blacklight/bg.png") repeat-x scroll left top #707070;
    font: .7em/1.4 Verdana,"Lucida Grande","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;
    padding: 0;
}

input {
    -webkit-box-sizing: content-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: content-box;    /* Firefox, other Gecko */
    box-sizing: content-box;         /* Opera/IE 8+ */
}

input.input-xlarge {
  width: 270px; /*restore bootstrap default, overridden by standard.css*/
}

p {
  font-size: 1em;
}

#q {
  // There was a problem where the field was too small, this fixed it.
  height: auto;
}

#head {
  text-align: right;
}
#startOverLink {
  background-color: #900;
  background-image: -moz-linear-gradient(center top , #500, #900);
  background-image: -webkit-linear-gradient(top, #500, #900);
  background-image: -o-linear-gradient(top, #500, #900);
  background-image: linear-gradient(top, #500, #900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#500', endColorstr='#900', GradientType=0);
}

.well {
  padding: 8px;
}

#sortAndPerPage {
  background: none;
  border: none;
  padding: 0;
  margin-top: 3px;
  label {
    display: inline;
  }
  form#sort_form {
    margin-left: 10px;
  }
  form.per_page {
    margin-left: 20px;
    display: inline-block;
    float: none;
  }
}
.pagination {
  border: 0;
  background-color: transparent;
  height: auto;
  margin: auto;
  a {
    float:none
  }
}

.document {
  margin-bottom:20px;
  padding-bottom: 10px;

  .icon-expand, .icon-collapse {
  }

  ul.tools {
    clear:left;
    li {
      display: inline-block;
      width: 15em;
    }

    label.toggle_folder {
      float:none;
    }

    .documentFunctions {
      float: none;
    }
  }

  .host-publication, .publisher {
      color: #6C6C6C;
  }

  .authors {
      color: #6C6C6C;
      font-size: 0.95em;
      margin-bottom: 0.5em;
      padding: 0;
      position: relative;
      top: -0.2em;
  }
  
  .cover-image {
    float: left;
    height: 160px;
    width: 100px;
    margin: 0 10px 0 0;
    border: 1px solid #C8C8C8;

    .no-image {
      background-image: url("/assets/no_icon.gif");
      background-position: left top;
      background-repeat: no-repeat;
      float: left;
      font-size: 8px;
      height: 133px;
      margin-bottom: 2em;
      overflow: hidden;
      padding: 3px 5px 3px 20px;
      width: 75px;
    }
  }

  h2.detailed-view {
    clear: both;
    padding-top: 2px;
  }
  dl.detailed-view {
    dt {
      float: left;
      width: 10em;
    }
  }
}

.btn.primary {
  background-color: #900;
  background-image: -moz-linear-gradient(center top , #500, #900);
  background-image: -webkit-linear-gradient(top, #500, #900);
  background-image: -o-linear-gradient(top, #500, #900);
  background-image: linear-gradient(top, #500, #900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#500', endColorstr='#900', GradientType=0);
  color: white;
  margin-bottom: 8px;
} 

input:focus, textarea:focus {
    border-color: rgba(236, 168, 82, 0.8);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(236, 168, 82, 0.6);
    outline: 0 none;
}

#main_container {

 padding: 10px;
}

#page {
  border-top: 3px solid #606;
  background: white;
  width: 100%;
}

h1 {
  font-size: 1.2em;
  color: #909090;
  margin-bottom: auto;
}
h2 {
  font-size: 1em;

}

.index_title a:link, .index_title a:visited, .index_title a:active {
  color: #282828;
  font-size: 14px;
}

a:link, a:visited, a:active {
  color: #900;
}

#links ul li, #mylibrary ul li {
  list-style-image: url(/assets/arrow.png)
}

h1.site_title {
  background: url("/assets/cloud-grey.png") no-repeat scroll left top transparent;
  height: 123px;
  width: 163px;
}

#sidebar {
  #logo {
    img {
      margin-left: 10px;
    }
  }
  #facets {
    .label {
      white-space: normal;
      background: none;
    }
    .label:hover {
      color: #990000;
    }
  }
  #range_pub_date_begin, #range_pub_date_end {
    width: 4em;
    height: 2em;
  }
}


#search {
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  label {
    display: inline;
  }
  form.search_form {
    margin: 0 0 5px;
  }
  a.advanced {
    font-size: x-small;
  }
  form.button_to {
    display: inline-block;
    margin-bottom: 0;
    input {
      margin: 0;
    }
  }
}

#appliedParams {
  background-color: transparent;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding: 5px 0 0;
  margin: 0;
  .appliedFilter {
      background-color: #900;
      background-image: -moz-linear-gradient(center top , #500, #900);
      background-image: -webkit-linear-gradient(top, #500, #900);
      background-image: -o-linear-gradient(top, #500, #900);
      background-image: linear-gradient(top, #500, #900);
      border: 1px solid #500;
      color: white;
      margin-bottom: 5px;
      margin-top: 2px;
  }

  .appliedFilter .btnRemove {
      background: url("/assets/delete.png") no-repeat scroll center center transparent;
      border-bottom: medium none;
      border-left: 1px solid #500;
  }

  .appliedFilter .queryName, .appliedFilter .filterName {
      background: url("/assets/arrow.png") no-repeat right 2px;
      padding-right: 9px;
  }
}

.facet_extended_list {
  .label {
    color: black;
    background-color: transparent;
  }

}


