body {
    background: url("/assets/blacklight/bg.png") repeat-x scroll left top #707070;
    font: 0.7em/1.4 Verdana,"Lucida Grande","Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif;
}

#q {
  // There was a problem where the field was too small, this fixed it.
  height: auto;
}

#startOverLink {
  background-color: #900;
  background-image: -moz-linear-gradient(center top , #500, #900);
  background-image: -webkit-linear-gradient(top, #500, #900);
  background-image: -o-linear-gradient(top, #500, #900);
  background-image: linear-gradient(top, #500, #900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#500', endColorstr='#900', GradientType=0);
}

#sortAndPerPage {
  label {
    float: none;
  }
  form#sort_form {
    margin-left: 10px;
  }
  form.per_page {
    margin-left: 20px;
    display: inline-block;
    float: none;
  }
}
.pagination {
  height: auto;
  margin: auto;
  a {
    float:none
  }
}

.tools {
  clear:left;

  label.toggle_folder {
    float:none;
  }

  .documentFunctions {
    margin: -7px 0 0 130px;
    float: none;
  }
}

.document {
  margin-bottom:20px;
  padding-bottom: 10px;
}

.btn.primary {
  background-color: #900;
  background-image: -moz-linear-gradient(center top , #500, #900);
  background-image: -webkit-linear-gradient(top, #500, #900);
  background-image: -o-linear-gradient(top, #500, #900);
  background-image: linear-gradient(top, #500, #900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#500', endColorstr='#900', GradientType=0);
} 

input:focus, textarea:focus {
    border-color: rgba(236, 168, 82, 0.8);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(236, 168, 82, 0.6);
    outline: 0 none;
}

.appliedFilter {
    background-color: #900;
    background-image: -moz-linear-gradient(center top , #500, #900);
    background-image: -webkit-linear-gradient(top, #500, #900);
    background-image: -o-linear-gradient(top, #500, #900);
    background-image: linear-gradient(top, #500, #900);
    border: 1px solid #500;
    color: white;
}

.appliedFilter .btnRemove {
    background: url("/assets/delete.png") no-repeat scroll center center transparent;
    border-bottom: medium none;
    border-left: 1px solid #500;
}

.appliedFilter .queryName, .appliedFilter .filterName {
    background: url("/assets/arrow.png") no-repeat right 2px;
    padding-right: 9px;
}

#main_container {

 padding: 10px;
}

#page {
  border-top: 3px solid #606;
  background: white;
  width: 960px;
}

h1 {
  font-size: 1.2em;
  color: #909090;
  margin-bottom: auto;
}
h2 {
  font-size: 1em;

}

.index_title a:link, .index_title a:visited, .index_title a:active {
  color: #282828;
  font-size: 14px;
}

a:link, a:visited, a:active {
  color: #900;
}

#links ul li, #mylibrary ul li {
  list-style-image: url(/assets/arrow.png)
}

h1.site_title {
  background: url("/assets/cloud-grey.png") no-repeat scroll left top transparent;
  height: 123px;
  width: 163px;
}
#hd {
  padding: .3em 0;
}

#bd {
  margin: 0;
}

#bd #sidebar {
  width: 220px;
  margin-right: 0;
}
#bd #main {
  padding: 0;
  margin: 0;
}


#facets .label {
  white-space: normal;
  background: none;
}

label[for=search_field] {
  float:none
}

.host-publication, .publisher {
    color: #6C6C6C;
}

.authors {
    color: #6C6C6C;
    font-size: 0.95em;
    margin-bottom: 0.5em;
    padding: 0;
    position: relative;
    top: -0.2em;
}
.cover-image {
  float: left;
  margin-right: 10px;
  height: 160px;
  width: 120px;

  .no-image {
    background-image: url("/assets/no_icon.gif");
    background-position: left top;
    background-repeat: no-repeat;
    float: left;
    font-size: 8px;
    height: 133px;
    margin-bottom: 2em;
    overflow: hidden;
    padding: 3px 5px 3px 20px;
    width: 75px;
  }
}

